/* Core style variables */
:root {
  --color-light: #f2f2f2;
  --color-dark: #254c5f;
  --font-grey: #777;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: var(--font-grey);
  line-height: 2;
}

ul {
  list-style: none;
}

.nav-bar {
  background-color: var(--color-dark);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}

.nav-bar ul {
  display: flex;
}

.nav-bar ul li {
  padding: 0 15px;
}

.nav-bar ul li a {
  text-decoration: none;
  color: var(--color-light);
}

.nav-bar ul li a:hover {
  color: #999;
  cursor: pointer;
}

.hero {
  height: 100vh;
  background: url("https://images.pexels.com/photos/533923/pexels-photo-533923.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; /* Resize to cover entire container */
  background-attachment: fixed; /* Image will not scroll with page */
}

.section {
  width: 90%;
  max-width: 960px;
  margin: auto;
  padding: 100px 80px;
  overflow: hidden;
  text-align: center;
}

.section h1 {
  color: var(--color-dark);
  font-family: "Elsie", cursive;
  /* font-family: "Libre Baskerville", serif; */
  font-size: 50px;
  font-weight: 700;
}

.section a {
  text-decoration: none;
  font-weight: 600;
  color: var(--color-dark);
  border-bottom: 3px solid #cbe3ef;
}

.section a:hover {
}

footer {
  text-align: center;
  margin: auto;
  font-size: 14px;
  padding: 20px;
}

footer ul {
  display: flex;
  justify-content: center;
}

footer a {
  text-decoration: none;
  color: var(--font-grey);
  margin: 0 10px;
}

footer a:hover {
  color: var(--color-dark);
  cursor: pointer;
}
