body {
  font-family: "Merriweather", serif;
  background-image: url(https://images.pexels.com/photos/2847648/pexels-photo-2847648.jpeg);
  background-size: cover;
  background-position: center;
  height: 100vh;
}
